<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrinkto-fit=no">
<title>Zain</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Product Modules - Assignment 03</a>
	</nav>
	<main role="main" class="container">
		<div class="starter-template">
			<h1>BIODATA</h1>
		</div>
		<div class="starter-template">
			<h2>Ahmad Zain Azharul Falah</h2>
			<h2>Stay in Depok</h2>
		</div>
		<div class="starter-template">
			<!--
			<h4>http://localhost:8181/api/v1/product = getall(GET)/add(POST) product</h4>
			<h4>http://localhost:8181/api/v1/product/id/5 = get(GET) product by id</h4>
			<h4>http://localhost:8181/api/v1/product?id=5 = update(PUT)/delete(DELETE) product by id</h4>
			-->
		</div>
		<div class="starter-template">
			<h1>Terimakasih, silahkan datang kembali!</h1>
		</div>
	</main>
	<!-- /.container -->
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
